<!doctype html>!
<html>
<head>
    <meta charset="UTF-8">
    <title>自定义上传文件按钮</title>
    <style>



        .filePicker{
            margin: 200px;
            width: 200px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #fff;
            background: #00b7ee;
        }

        .filePicker label{
            display: block;
            width: 100%;
            height: 100%;
        }

        .filePicker input[type="file"]{
            display: none;
        }

    </style>
</head>
<body>

    <div class="filePicker">
        <input id="img_input" type="file" >
        <label for="img_input">上传图片</label>
    </div>
</body>
</html>